@media (forced-colors: active) {
  /* Your styles for forced colors mode */
  body {
    background-color: canvas;
    color: canvasText;
  }
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  font-family: "Poppins", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #e5e7eb;
}

.submenu {
  display: none;
}

.submenu-open {
  display: block !important;
}

.submenu.open {
  display: block !important;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 1200px) {
  #mobile-nav-toggle {
    display: inline;
  }
  #footer {
    padding-bottom: 40px !important;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 60px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 1);
  width: 260px;
  left: -260px;
  overflow-y: auto;
  transition: left 0.3s ease;
}

#mobile-nav.open {
  left: 0;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 15px; /* Cambié el padding para que sea uniforme */
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #009045;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color: #009045;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

.map {
  padding-top: 30px;
}

input:-webkit-autofill {
  background-color: transparent !important; /* Fondo transparente */
  color: inherit !important; /* Color de texto heredado */
  box-shadow: 0 0 0px 1000px transparent inset !important; /* Elimina la sombra del autofill */
  appearance: none !important;
}

input:-webkit-autofill::first-line {
  color: inherit !important; /* Asegura que el texto no cambie */
  background-color: transparent !important; /* Elimina fondo en la primera línea */
}

/* Hacer que el enlace (a) sea un contenedor flex */
.submenu-toggle {
  display: flex;
  justify-content: space-between; /* Alinea el texto a la izquierda y la imagen a la derecha */
  align-items: center; /* Centra verticalmente el texto y el chevron */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Ajustar el tamaño y el espaciado del chevron */
.chevron {
  width: 16px; /* Tamaño del chevron */
  height: 16px; /* Tamaño del chevron */
  margin-left: 8px; /* Espaciado entre el texto y el chevron */
}

#mobile-nav ul li .submenu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
